@base-color : #021a4e ;
@base-font : 'Open Sans' ;

body{
  margin: 0;
  font-style: @base-font ;
}
#navbar-collapse{
  float: none;
  text-align: center;
}
.event-img {
  position: relative;
}
.field--name-field-calender-image {
  position: absolute;
  top : 10px ;
  right: 10px;
}
.field--name-field-event-date{
    position: absolute;
    top: 40px;
    right: 15px;
    z-index: 3;
}
.service{
  background-color: @base-color ;
}
.navbar-default{
  background-color: @base-color ;
  align-content: center;
  align-items: center;
  font-style: @base-font ;
  color: #000000 ;
  margin-bottom: 0;
}
.slider-text{
  position: absolute;
  top : 16% ;
  right: 12%;
  z-index: 1;
  background-color: @base-color;
  color: #ffffff;
  padding: 64px 48px;
  opacity: .8;
  width: 35%;
  font-size: 38.5px;
  font-weight: bold;
  line-height: 1.63;
  text-align: center;
  font-family: trajanpro;

  @media only screen and  (min-device-width : 300px) and (max-device-width : 970px)  {
    position:relative;
    width: 100%;
    right: 0 ;
    padding: 15px;
    text-align: center;
    top :auto ;
    margin: 0 ;
    font-size: 20px;
  }
}
.flex-control-nav {
  bottom: 10px;
  z-index: 3;
}
.flexslider{
  border:0.1px solid #fff ;
}
.features-wrapper{
  position: relative;
  margin: 10px;
  width: 263px ;
}
.feature-title{
  position: absolute;
  background-color: @base-color ;
  bottom: 0;
  font-family: @base-font;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  margin: 0 ;
  padding-top: 14.5px;
  padding-bottom: 14.5px;

  a{
    color:#ffffff;
  }
  a:hover{
    text-decoration: none;
  }
}
.node--type-features{


  @media only screen and  (min-device-width : 320px) and (max-device-width : 970px)  {
    text-align: center;
  }


}



.block-views-blocknews-block-1{
  background-color: #f3f3f3;
  padding-left: 22px;
}
.event-header{
  position: relative ;
}
#block-views-block-sercive-bar-block-1-2{
  background-color: #021a4e;
  padding: 15px;
  margin : 20xp 0px 20px 0px ;
  color: #e4c800 ;
  margin:  0 auto;
  align-items: center;
}
.field--name-field-sercive-image{
  display: inline-block;
  float: none;
}
.field--name-field-sercives-number-{
 font-size: 66px;
 font-weight: bold;
}
.field--name-node-title{
  font-size: 24px;
  font-weight: 600;
  font-family:@base-font;
}
.field--name-field-desc{
  text-shadow: 0 2px 4px rgba(83, 83, 83, 0.48);
  color: @base-color;
  font-size: 58px;
  width: 70%;
  text-align: center;
  font-weight: bold;
  font-family:@base-font;
  margin: 0 auto;
  position: absolute;
  top: 18%;
  right: 0;
  left: 0;


    @media only screen and  (min-device-width : 320px) and (max-device-width : 970px)  {
      font-size: 180%;
    }

}
.apply-cont{
  position: relative;
  text-align: center;
  width: 100%;
}
.field--name-field-link{
  color: #e4c800 ;
  font-family: @base-font ;
  font-size: 54px;
  font-weight: 800 ;
  background-color: @base-color;
  position: absolute;
  top :58%;
  margin: 0 auto;
  padding: 24px 57px;
  right: 0;
  left: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;

  @media only screen and  (min-device-width : 320px) and (max-device-width : 970px)  {
    position: relative;
    top: auto ;
    font-size: 20px;
    width: 100%;
  }


  a{
    color: #e4c800 ;
  }
  a:hover{
      color: #e4c800 ;
      text-decoration: none;
  }
}
.field--name-field-place{
  display: inline-block;
}
.field--name-field-end-time{
  display: inline-block;
}
.field--name-field-start-time{
  display: inline-block;
}
