@base-color : #021a4e ;
@base-font-color:  #021a4f ;
@base-font : 'Open Sans'  ;

body{
  margin: 0;
  font-family: @base-font !important;
}
section >div.main-content{
  margin-bottom: 80px;
  @media only screen and  (min-device-width : 100px) and (max-device-width : 992px)  {
    margin-bottom: 10px;
  }

}
.path-node{
  .main-container{
    .row{
      margin: 0 ;
    }
  }
}
.edg2edg{
  align-items: center;
  width: 99.9vw;
  position: relative;
  left: 50.690%;
  right: 50%;
  margin-left: -51vw;
  margin-right: -50vw;
}
.submit-button{
  background-color:@base-color;
  color: #e4c800 ;
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: bold;
  padding: 14px 40px;
  margin-top: 30px;
}
a{
  color: @base-font-color ;
  &:hover{
    text-decoration: none;
    color:@base-font-color *2 ;
  }
}
.region-left{
.block-block-content{
  float: right;
  .block-content--type-search-icon-block{
    float: right;
    margin-left: 40px;
    margin-top: 4px;
    &:hover{
      cursor:pointer;
      color: @base-font-color;
    }
    .glyphicon-search{
      font-size: 0;
      &::before{
        font-size: 25px;
        color: #b6b6b6 ;
      }
     }
      .glyphicon-remove{
        font-size: 0;
        &::before{
          font-size: 25px;
          color: #b6b6b6 ;
        }
    }
  }
}
}

.icons-right{
  ul.media-icon{
    display: inline-block;
    float: right;
  }
  .nav > li{
    display: inline-block;
    color: #ffffff;
    background-color: #b6b6b6;
    padding: 0;
    float: right;
    margin: 5px;
    a{
      padding: 4px;
      color: #ffffff;
    }
    a:hover{
      background-color: @base-color;
    }
  }
  .fa:before{
    font-size: 15px;

  }
  .fa{
    font-size: 0;
    width: 23px;
    height: 23px;
    text-align: center;
  }
  .form-type-search{
    .input-group{
      float: right;
      display: none;
      transition: all 300ms;
      }
     .input-group-open{
          display: flex; //inline-block;
        //  transition: all 300ms;
      }
    .form-search{
      border: 0 ;
      font-weight: 900;
      }
    .form-submit{
      background-color: #ffffff;
      color: #b6b6b6;
      border: 0;
      }
  }

}
.navbar-collapse{
  .region-navigation-collapsible{
    text-align: center;
  }
}


#block-mouse-main-menu{

  ul.navbar-nav{
    float: none;
  }
  .navbar-nav{

      @media only screen and  (min-device-width : 100px) and (max-device-width : 992px)  {
        .collapse {
        display: none !important;
        }
      }
      .is-active{
        margin: 0  25px;
        display: inline-block;
      }
      li{
        float: none;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        @media only screen and  (min-device-width : 100px) and (max-device-width : 762px)  {
          display: block;
            a:hover{
            background-color: @base-color /2;
            color: #ffffff !important;
          }
        }
        a:hover{
          background-color: @base-color /2;
          color: #ffffff !important;
        }
        a:active{
          background-color: @base-color /2;
          color: #ffffff !important;
        }
      }
      a{
        color: #ffffff;
      }
      a:hover{
        color: @base-font-color;
        background-color: #ffffff;
      }
  }
}
.header-wrapper{
  background-color: @base-color;
}
.icons-right{
  display: inline-block;
}

.service{
  background-color: @base-color ;
}
.navbar-default{
  background-color: @base-color ;
  align-content: center;
  align-items: center;
  font-style: @base-font ;
  color:#b6b6b6 ;// #000000 ;
  margin-bottom: 0;
  border-color: none;
}
.features-wrapper{
  position: relative;
  //margin-top: 15px;
  margin-bottom: 30px;
  img.img-responsive{
    //display: contents;
    width: 100%;
  }
}
.feature-title{
  position: absolute;
  background-color: @base-color ;
  opacity: .8;
  bottom: 0;
  font-family: @base-font;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  margin: 0 ;
  padding-top: 14.5px;
  padding-bottom: 14.5px;

  a{
    color:#ffffff;
  }
  a:hover{
    text-decoration: none;
  }
}
.node--type-features{

    @media only screen and  (min-device-width : 320px) and (max-device-width : 970px)  {
    text-align: center;
    width: 100%;
  }
}
@media only screen and  (min-device-width : 220px) and (max-device-width : 970px)  {

    .row{
      //margin-left: 0;
      //margin-right: 0;
    }
}


.block-views-blocknews-block-1{
  background-color: #f3f3f3;
  padding-left: 22px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  padding-right: 20px;


  .block-title{
    text-decoration: underline;
    font-size: 36px;
    font-weight: bold;
    color: @base-color;
  }
  .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
  }
  div.views-row{
    border-bottom: solid 2px #d5d5d5;

      &:last-child{
        border-bottom: none;
      }
    }
  }


  .field--name-field-news-date{
    margin-top: 20px;
    color: @base-font-color;
    font-size: 14px;
    line-height: 1.64;
  }
  .field--name-node-link{
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    bottom: 0px;
    padding-bottom: 15px;
    a{
      color: @base-color;
    }
    a:hover{
      text-decoration: none;
      color: @base-color *2.5  ;
    }
  }
  .node--type-news{
    .field--name-node-title{
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.4px;
      a{
          color: @base-font-color;
      }
      a:hover{
        text-decoration: none;
      }
    }
  }
  .field--type-text-with-summary{
    font-size: 16px;
    line-height: 1.63;
    color: #4a4a4a;
  }
.block-views-blockevents-block-1{
  .form-group{
    .view-content{
      .views-view-grid{
        .node--type-event{
          .event-header{
            border-top: solid 1px #cecece;
            border-right: solid 1px #cecece;
            border-left: solid 1px #cecece;
          }
          .event-content{
            border-left: solid 1px #cecece;
            border-right: solid 1px #cecece;
            padding: 10px;
            a{
              color: @base-font-color;
            }
            paddings:20px;
          }
          .event-contener{
            margin-top: 0 ;
            padding-top: 10px;
            border-bottom: solid 1px #cecece;
            border-left: solid 1px #cecece;
            border-right: solid 1px #cecece;
          }
        }
      }
    }
  }
}



.event-header{
  position: relative ;
}
#block-views-block-sercive-bar-block-1-2{
    background-color: #021a4e;
    padding: 15px;
    color: #e4c800 ;
    margin:  0 auto;
    align-items: center;

    .edg2edg();

    margin-top: 80px;
    margin-bottom: 80px;


}
.field--name-field-sercive-image{
  display: inline-block;
  float: none;
}
.field--name-field-sercives-number-{
 font-size: 66px;
 font-weight: bold;
}
.node--type-services{
  .field--name-field-sercive-image{
      margin-top: 80px ;
  }
  .field--name-node-title{
    font-size: 24px;
    font-weight: 600;
    font-family:@base-font;
    margin-bottom: 80px ;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.field--name-field-desc{
  text-shadow: 0 2px 4px rgba(83, 83, 83, 0.48);
  color: @base-color;
  font-size: 58px;
  width:80%;
  text-align: center;
  font-weight: bold;
  font-family:@base-font;
  margin: 0 auto;
  top: 18%;
  right: 0;
  left: 0;
  position: absolute;


    @media only screen and  (min-device-width : 50px) and (max-device-width : 970px)  {
      font-size: 140%;
    }

}
.apply-cont{
    .edg2edg();
}
.field--name-field-applimage{
  .img-responsive{
    width: 100%;
    z-index: 0;
  }
}
.field--name-field-link{
  color: #e4c800 ;
  font-family: @base-font ;
  font-size: 54px;
  font-weight: 800 ;
  background-color: @base-color;
  position: absolute;
  top :58%;
  margin: 0 auto;
  padding: 24px 57px;
  right: 0;
  left: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;

  @media only screen and  (min-device-width : 50px) and (max-device-width : 700px)  {
    position: relative;
    top: auto ;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 0;
  }


  a{
    color: #e4c800 ;
  }
  a:hover{
      color: #e4c800 ;
      text-decoration: none;
  }
}
.field--name-field-place{
  display: inline-block;
}
.field--name-field-end-time{
  display: inline-block;
}
.field--name-field-start-time{
  display: inline-block;
}
#block-views-block-events-block-1-2{

  .block-title{
    margin-top: 0;
    font-size: 36px;
    text-decoration: underline;
    text-align: center;
    color: @base-color;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  margin-bottom: 80px;
  .form-group{
    .col ,.col-xs-12 ,.col-sm-12 ,.col-md-4 ,.col-lg-4 {
    //  padding: 0;
    }
  }
}
#views-bootstrap-events-block-1{

 .node--view-mode-teaser{

    display: block;
    float: none;
    margin: 0 auto;
    width: 100%;

  .event-content{
  //padding: 10px;
  //box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  //transition: 0.3s;
    .field--type-daterange{
        float: left;
    }
  }

    .event-img {
      position: relative;

      img.img-responsive{
        width: -moz-available;
        width: -webkit-fill-available;
      }
    }

  .field--name-field-calender-image {
    position: absolute;
    top : 10px ;
    right: 10px;
  }
  .date-cal{
    background-image: url('../images/cal.png');
    top: 10px;
    right: 10px;
    background-repeat: no-repeat;
    position: absolute;
    width: 73.20px;
    height: 69px;
    background-size:contain;
  }
  .events-date{

    position: absolute;
    padding: 2px;
    top: 29px;
    right: 10px;
    width: 73px;
    text-align: center;
    color: @base-font-color;
  }
  .event-day{
    font-size: 18px;
    font-weight: 800;
  }
  .event-month{
    font-size: 12px;
    font-weight: bold;
  }

  .field--name-node-title{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: @base-font-color;
  }
  .field--type-text-with-summary{
    font-size: 16px;
    line-height: 1.63;
    color: #4a4a4a
  }
  .field--name-node-link {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: @base-font-color;
    margin-right: 20px;
    a:hover{
      text-decoration: none;
    }
  }

 }
}
.block-webform-block{
  background-color: #f7f7f7 ;
  margin: 80px 97px;
  padding: 80px 97px;

  .block-title{
    text-align: center;
    color: @base-font-color ;
    text-decoration: underline;
    font-size: 36px;
    font-weight: bold;
  }

  .submittion-but{
    .submit-button();
  }


  .form-control{
  //  margin: 15px 15px;
  }

    @media only screen and  (min-device-width : 50px) and (max-device-width : 700px)  {
        background-color: #f7f7f7 ;
        padding: 15px;
        margin: 0 auto;
        width: 93vw;


        p:last-child, .form-group:last-child, .panel:last-child{
          margin-bottom: 15px;
        }

        .submittion-but{
          .submit-button();
        }



    }

}
.webform-actions{
  margin: 0 auto;
  text-align: center;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

#block-footer-3{
  background-color: @base-color;
  padding-left: 179px;

    @media only screen and  (min-device-width : 50px) and (max-device-width : 1024px)  {
      padding-left: 2%;
    }
}
.region-footer{
  margin-left: -13vw;
  margin-right: -12.6vw;
  padding: 500px;
}

nav > ul.footer{
  border-left: solid 1px #4d4d4d;
  border-right: solid 1px #4d4d4d;
  padding-top: 0px;
  padding-bottom: 0px;

  @media only screen and  (min-device-width : 50px) and (max-device-width : 1024px)  {
    border-left: none;
    border-right: none;
    display: inline-block;
  }
}
footer.container{
  padding-left: 0px;
}
.footer{
  border: 0;
  margin-top: 15px;
  letter-spacing: 0.8px;
  @media only screen and  (min-device-width : 50px) and (max-device-width : 1024px)  {
    padding-top: 0 ;
  }

  li.dropdown{
    a.dropdown-toggle{
      &:hover , &:active , &:focus{
        background: none !important;
      }
    }
  }
  .dropdown{
    display: inline-grid;
    border-left: solid 1px #4d4d4d ;
    width: 32%;
  }
  .dropdown-toggle{
    width: -moz-fit-content;
    width: -webkit-fit-content;
    color: #e4c800;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.9px;
    text-align: center;
    float: left;
    cursor: default;

    .caret{
        display: none;
      }
    }
  .dropdown-menu{
    font-family: @base-font;
    position: relative;
    background-color: @base-color ;
    padding: 1px;
    box-shadow: none;
    a{
      font-weight: 600;
      font-size: 13px !important;
      font-family: @base-font ;
      letter-spacing: 0.8px;
      margin-bottom: 2px;
      color: #ffffff;

      @media only screen and  (min-device-width : 50px) and (max-device-width : 1024px)  {
        border-left: none;
        border-right: none;
      }

      &::before{
        font: normal normal normal 14px/1 FontAwesome;
      }
    }
    li{
      width: -moz-fit-content ;
      width: fit-content;

      a:hover {
        background: none;
        color:  #6495ed ;
      }
      .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus{
        background: none;
        color:  #6495ef ;
      }
    }
  }
    @media only screen and  (min-device-width : 970px)  {
      .dropdown-menu{

          display: block;
          display:contents ;
        }
      }
    @media only screen and  (min-device-width : 50px) and (max-device-width : 970px)  {

      .dropdown{
        display: block;
        width: auto;
      }
      .dropdown-toggle{
        .caret{
            display: inline-block;
          }
        }
    }

}


#block-footer-3 > ul:first-of-type {
    &  li.expanded:nth-child(2){
      position: absolute;
      margin-bottom: 10px;
      width: fit-content ;
      width: -moz-fit-content ;
    }
    &  li.expanded:nth-child(3){
      position: relative;
      bottom: -150px;
      padding-bottom: 30px;
    }
    &  li.expanded:nth-child(4){
    padding-bottom: 70px;
      ul > li > a{
          line-height: 2;
      }
    }

    @media only screen and  (min-device-width : 50px) and (max-device-width : 970px)  {
      border-left: solid 1px #4d4d4d ;

      &  li.expanded:nth-child(2){
        position: relative;
        margin-bottom: 0;
      }
      &  li.expanded:nth-child(3){
        bottom: 0;
        position: relative;
        padding-bottom: 0px;
      }
      &  li.expanded:nth-child(4){
        padding-bottom: 0px;
        ul > li > a{
            line-height: none;
        }
      }


    }
}

.full-footer{
  background-color: @base-color;
  width: 100%;
  height: 383px;
  @media only screen and  (min-device-width : 50px) and (max-device-width : 970px)  {
    height: 100%;
    }
}


#block-logo-4{
  float: left;
  width: auto;
}

.region-footer-right{
  margin-top: 20%;
  @media only screen and  (min-device-width : 50px) and (max-device-width : 970px)  {
    margin-top: 0;
    }


  .media-icon{
     li{
      display: inline-block;
      //color: #ffffff;
      object-fit: contain;
      margin: 5px;
      a{
        padding: 5px 0px ;
        color: #ffffff;
      }
      a:hover , a:focus {
        color: #000000; // @base-color * 2;
        background-color: transparent !important;

      //  background-color: @base-color / 3;
      }
  }
      .fa:before{
        font-size: 20px;
      }
        .fa{
          font-size: 0;
          width: 23px;
          height: 23px;
          text-align: center;
          }
      }

      h2{
        margin-top: 10%;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.9px;
        color: #e4c800;
      }
}

  .path-frontpage{
    .main-content{
      .views-element-container{
        .view-frontpage{
          .view-empty{
            display: none;
          }
          .feed-icons{
            display: none;
          }
        }
      }
    }
  }
.main-container{
  .col-sm-12{
    min-height: 0 ;
  }
}

.header-wrapper{
  .navbar{
    border: none;
  }
  li.active{
    a.is-active{
      color: @base-font-color !important;
    }
  }
}
.block-social-media{
  clear: both;
  margin-left: 15px;

  ul{
    display: block;
    li{
      margin: 3px;
      width: 35px;
    }
  }

  @media only screen and  (min-device-width : 50px) and (max-device-width : 970px)  {
    float: none;
    ul{
      float: none;
      display: block;
      position: relative;
      li{
        margin: 3px;
        img{
          width: 30px;
        }
      }
    }
  }
}

//----------------------------
// copyright bar
//----------------------------
.copyright{

  .container{
    padding: 0;
    background-color: #223663;
  }
  .region-copyright{
    margin: 0;
    padding: 0;
    text-align: center;

    .block-block-content{
      .row{
        margin: 0;
      }
    }
    .field--name-body{
      font-size: 11px;
      padding: 5px;
      color:#ffffff;
    }
  }
}
//----------------------------
// bootstrap navbar breakpoint
//----------------------------
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       cursor: pointer;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}
//-----------------------------------
//        Submission Thanks
//-----------------------------------
/*
.path-webform{
  .block-content--type-copyright{
    clear: both;
    .block-block-content{
      .bs-region--main{
        .field--type-text-with-summary{
          font-size: 20px;
          padding: 20px;
          background-color: #DFF0D8;
          text-align: center;
          color: #3C763D;
          margin-bottom: 50px;
        }
      }
    }
  }
}
//------------------------------------------
//  Contact us
//------------------------------------------
.page-node-type-page{
  article.full{
    .content{
      .field--type-text-with-summary{
        clear: both;
      //  text-align: center;
        padding: 35px;
        font-size: 20px;
      }
    }
  }
  section.block-webform-block{
    .webform-submission-form{
      div.form-item{
        padding: 10px;
      }
      .form-actions{
        text-align: center;
        .webform-button--submit{
          background-color: #021a4e;
          color: #e4c800;
          font-family: 'Raleway';
          font-size: 18px;
          font-weight: bold;
          padding: 14px 40px;
          margin-top: 30px;
        }
      }
    }
  }
}
*/
