@base-color : #021a4e ;
@base-font-color:  #021a4f ;

.path-jobs{
  .main-content{
    clear: both;
  }

  .view-jobs{
    .panel-title  {
      color: @base-font-color ;
      font-size: 16px;
      font-weight: 800 ;

      a:hover{
        text-decoration: none;
        color: #000000;
      }
    }
  }
}

.path-job-vacancies{
  .block-webform-block{
      margin: 0 ;
      padding: 20px ;
  }

  .form-actions{
    margin: 30px;
    text-align: center;
  }
}
