@base-color : #021a4e ;
@base-font-color:  #021a4f ;

.path-jobs{
  .main-content{
    clear: both;
  }

  .view-jobs{
    .panel-title  {
      color: @base-font-color ;
      font-size: 16px;
      font-weight: 800 ;

      a:hover{
        text-decoration: none;
        color: #000000;
      }
    }
  }
}

.path-job-vacancies{
  .bs-region--main{
    .caret{
      width: 100%;
      vertical-align:baseline;
      //border-top: none;
      border-top: none;
    }
    .panel-title{
      border-top: 4px dashed;
      vertical-align: middle;
    }
  }
  .block-webform-block{
      margin: 0 ;
      padding: 20px ;
  }

  .form-actions{
    margin: 30px;
    text-align: center;
  }
  .webform-document-file{
    .form-control{
      padding: 0 ;
      margin: 13px 0px;
    }
  }
  .webform-button--submit{
    .submit-button();
  }

}
