.event-img {
  position: relative;
}
.event-cal {
  position: absolute;
  top: 30px ;
  right: 30px;
}
.service {
  background-color: #021a4e;
}
.silder-width {
  width: 100px;
  position: relative;
}
.main-menu {
  background-color: #021a4e;
  align-content: center;
}
.navbar-default {
  background-color: #021a4e;
  align-content: center;
  font-style: 'OpenSans';
}
